nav {
    background-color: rgb(65, 38, 112);
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 10px;
}

.form {
    box-shadow: 10px 10px 10px grey;
    border-radius: 5px;
    width: 20%;
    margin-top: 10%;
    font-size: 18px;
    float:left;
}

.form div {
    margin-left: 10%;
    margin-top: 10px;
    
}

.form div input {
    padding: 10px;
    display: block;
    width: 80%;
    margin-bottom: 10px;
}

#submit{
    margin:20px;
    padding: 10px;
    background-color: rgb(60, 19, 135);
    border:none;
    border-radius: 5px;
    margin-left: 10%;
    width: 80%;
    color: white;
}

#content{
    float: right;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

#contentCards {
    width: 15%;
    border: 1px solid rgb(185, 182, 182);
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    flex: calc(30% - 30px);
    margin-right: 20px;
}

#delete{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: red;
    padding: 10px;
    cursor: pointer;
}

#delete:hover {
    background: red;
    color:  white;
    top: 15px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .form{
        float:none;
        width: 80%;
        margin: 30px auto;
    }

    .form div input{
        width: 70%;
    }

    #content{
        float:none;
        margin: 30px auto;   
    }

    #contentCards{
        flex: calc(40% - 20px);
    }
}

@media screen and (max-width: 578px) {
    #contentCards{
        flex: calc(70% - 20px);
    }
}