.calculation {
    color: black;
    height: 40px;
    font-size: 30px;
    text-align: right;
    padding: 30px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}
.calculator {
    width: 20%;
    margin: 60px auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

.calc {
    display: flex;
    margin: 10px;
}

button {
    padding: 20px;
    margin: 10px;
    border-radius: 40px;
    box-shadow: 3px 3px 6px lightgray;
    font-size: 20px;
}

.opr {
    background-color: orange;
}